@media screen and (max-width: 1550px) {
    .logo{
        font-size: 30px;
    }
    .a-nav{
        font-size: 20px;
    }

    .nav-list li{
        margin: 10px;
    }
    .imgLogo{
        width: 100px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    .depoiment{
        width: 80%;
        margin: 0 auto;
    }


}

@media screen and (max-width: 1280px) {
    .back4{
        transition: .5s;
        background: url(../img/background-final\ 5.png) center center;
        background-size: cover;
        background-position: bottom;
        right: 0px;
        float: none;
        height: 50%;
        width: 100%;
        border-radius: 0px 30px 150px;
        position: relative;
        background-repeat: no-repeat;
    }
    .inicial{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        margin-bottom: 0;
        align-items: end;
    }

    .inicial p{
        text-align: left;
        margin-left: 50px;
    }

    .textL{
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .nav-list{
        display: none;
        position: absolute;
        top: 5vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: #3c713e;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-list li {
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }

}


@media screen and (max-width:750px) {
    .container{
        width: 100%;
        height: 100vh;
        display: inline-block;
    }
    .container2{
        width: 100%;
        display: contents;
    }
    .back4{
        height: 35%;
    }
    .inicial{
        width: 90%;
        padding-top: 5%;
        margin: auto;
    }

    .inicial p{
        text-align: center;
        margin-left: 0;
    }

    .space{
        margin-bottom: 20px;
    }
    .box{
        flex-direction: column;
    }

    .box .butt{
        width: auto;
    }
    .logoName{
        margin-left: 0;
    }
    .logoName .logo{
        font-size: 20px;
    }
    .logoName .imgLogo{
        width: 70px;
    }

    .depoiment{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:450px){
    .container2{
        margin-top: 20%;
        width: 90%;
    }
    .button{
        height: 50px;
        font-size: 26px;
    }
    .back4{
        height: 30%; 
    }
    .title1{
        font-size: 30px;
    }
    #sobre, #contatos{
        padding: 0px 20px;
    }
    .textSubtitle {
        font-size: 21px;
    }
    .depoiment{
        display: inline-block;
        text-align: center;
    }
    .depoiment img{
        width: 60px;
        height: 60px;
        
    }
    .depoiment p{
        font-size: 13px;
    }

    .buttonDivs{
        width: 90%;
        font-size: 16px;
    }
    .butt{
        padding: 15px;
        font-size: 25px;
    }
    .footer{
        display: block;
    }
    .socialMedia {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonService, .depoiment h4 {
        font-size:16px;
    }
    .subTitle{
        font-size: 25px;
    }
    .detailService{
        margin-bottom: 15%;
    }
    #contatos{
        width: 90%;
    }
}