.butt{
    border: none;
    border-radius: 18px;
    margin: 20px;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    width: 400px;
    padding: 30px;
    box-shadow: rgb(0, 0, 0, 0.19) 0px 10px 20px, #99d19bc7 0px 6px 6px;
}